li {
  display:flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 1em;
  padding: 10px;
}

.row.across {
  background: #ccc;
  justify-content: space-between;
  align-items: center;
}

.second.across {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 50px;
  background: #ccc;
  flex-direction: row;
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: row;
}

.card img {
  width: 150px;
}

button {
  background: black;
  border:none;
  padding: 10px;
  color: #eee;
}

/* used john's lab as a template  */
/* used ChatGPT to help identify selectors */
