li {
  display:flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.row {
  border: 5px solid #111;
  display: flex;
  gap: 1em;
  padding: 10px;
}

.row.across {
  background: #ccc;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: lightblue;
  padding: 50px;
  background: #ccc;
  flex-direction: row;
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: row;
}

.card img {
  width: 150px;
}

button {
  background: black;
  border:none;
  padding: 10px;
  color: #eee;
}

/* used john's lab as a template  */
